/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
@import 'app.css';
@import '~katex/dist/katex.css';

/* Allow overflow on input areas for myst */
.jp-MySTMarkdownCell .jp-InputArea,
.jp-MySTMarkdownCell .jp-InputArea > .p-Widget {
  overflow: visible;
}

.myst p .lm-Widget img {
  height: 1.5em;
  transform: translateY(25%);
}

.myst .lm-Widget {
  overflow: inherit;
}

.myst .jp-RenderedHTMLCommon > *:last-child {
  margin-bottom: 0;
}

.myst .jp-RenderedHTMLCommon {
  padding-right: 0.1em;
}

.myst .jp-RenderedText {
  text-align: left;
  padding-left: 0;
  line-height: inherit;
}

/* Markdown viewer */
.jp-Document .jp-MarkdownViewer .jp-RenderedMySTMarkdown {
  padding: var(--jp-private-markdownviewer-padding);
  overflow: auto;
}
