/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer base {
  .prose table td {
    @apply p-1 sm:p-2 align-top;
  }

  .prose table p,
  .prose table li,
  .prose figure table {
    @apply mt-0 mb-0;
  }

  .prose table ul > li,
  .prose table ol > li {
    @apply pl-0;
  }

  .prose table tr:hover td {
    @apply bg-slate-50 dark:bg-stone-800;
  }

  .prose dt > strong {
    @apply font-bold text-blue-900 dark:text-blue-100;
  }

  .prose dd {
    @apply ml-8;
  }

  .myst {
    @apply prose prose-stone dark:prose-invert break-words max-w-none w-full overflow-auto;

    font-size: var(--jp-content-font-size1);
    color: var(--jp-content-font-color1);

    /* Comes from .jp-RenderedHTMLCommon */
    padding-right: 20px;
  }

  .myst > *:last-child {
    margin-bottom: 0.5em;
  }

  .myst hr {
    border-top-width: 2px;
  }

  .article {
    /* This is a required class currently in the hover-card */
    @apply myst;
  }
}
